!!!
%html
	%head

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

		:javascript
			$(function(){
				$("#preview1").on("click", function(){
					$("#question02").append("\#{@story.name}");
				});
			});

			$(function(){
				$("#preview1").on("click", function(){
					$("#question02").patch("\#{@story.name}");
				});
			});

			$(function(){
				$("#preview2").on("click", function(){
					$("#question03").append("\#{@story.color}");
				});
			});
	
	%body

		= simple_form_for(@story, id: "story_form", html: {class: 'form-nav'}, :remote => true) do |f|

			#question01
				.center
					= f.input :name, label: "My character's name is...", input_html: { class: "form-control" }
					%button#preview1.btn.btn-warning{:type => "button"} Next Question

			#question02
				.center
					= f.input :color, label: "__#{@story.name}__'s favorite color is...", input_html: { class: "form-control" }
					%button#preview2.btn.btn-primary{:type => "button"} Next Question

			#question03
				.center
					= f.input :activity, label: "__#{@story.name}__'s favorite thing to do is...", input_html: { class: "form-control" }
					%button#preview3.btn.btn-info{:type => "button"} Next Question
			
			#question04
				.center
					= f.input :success, label: "__#{@story.name}__ likes to __#{@story.activity}__ because...", input_html: { class: "form-control" }
					%button#preview4.btn.btn-success{:type => "button"} Next Question

			#question05
				.center
					= f.input :challenge, label: "It was hard for __#{@story.name}__ to __#{@story.activity}__ once because...", input_html: { class: "form-control" }
					%button#preview5.btn.btn-danger{:type => "button"} Next Question

			#question06
				.center
					= f.input :friend_name, label: "The name of __#{@story.name}__'s friend is...", input_html: { class: "form-control" }
					%button#preview6.btn.btn-primary{:type => "button"} Next Question

			#question07
				.center
					= f.input :friend_role, label: "__#{@story.friend_name}__ did something to make it worse! He/she...", input_html: { class: "form-control" }
					%button#preview7.btn.btn-primary{:type => "button"} Next Question
			
			#question08
				.center
					= f.input :challenge_mood, label: "And then __#{@story.name}__ felt...", input_html: { class: "form-control" }
					%button#preview8.btn.btn-primary{:type => "button"} Next Question

			#question09
				.center
					= f.input :action, label: "To overcome it, __#{@story.name}__...", input_html: { class: "form-control" }
					%button#preview9.btn.btn-primary{:type => "button"} Next Question

			#question10
				.center
					= f.input :result, label: "Because __#{@story.name}__ __#{@story.action}__, something crazy happened...", input_html: { class: "form-control" }
					%button#preview10.btn.btn-primary{:type => "button"} Next Question

			#question11
				.center
					= f.input :result_mood, label: "And when __#{@story.result}__, __#{@story.name}__ felt...", input_html: { class: "form-control" }
					%button#preview11.btn.btn-primary{:type => "button"} Next Question

			#question12
				.center
					= f.input :eversince, label: "But in the end, __#{@story.name}__ learned that...", input_html: { class: "form-control" }
					%button#preview12.btn.btn-primary{:type => "button"} Next Question

			#question13
				.center
					= f.input :title, label: "Look at that—you made a story! What should we call it?", input_html: { class: "form-control" }
					= f.button :submit

