!!! 5
%head
	%title= "Oh My Stories - New Story"
	%meta{ :content => "", :name => "Build a story with us!" }
	%meta{ :content => "", :name => "Oh My Stories" }
	%meta{ :content => "3 days", :name => "revisit-after" }
	%link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
	%script{:src => "stories.js", :type => "text/javascript"}
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%div.jumbotron

		= render 'form'

		.center
			= link_to "Start Over", root_path